<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
]
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    
    <%= f.text_area :content, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
  <%= f.label :author %>
  <%= f.select :user_id, @user %>
</div>

  <div class="field">
  <%= f.label :category %>
  <%= f.select :category_id, @category %>
</div>


<%= f.fields_for :tags do |tag_form| %>
<strong><%= tag_form.label :tag_name %></strong>
      <%= tag_form.text_field :name %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>