<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
  <%= f.label :author %>
  <%= f.select :user_id, @user %>
</div>

  <div class="field">
  <%= f.label :category %>
  <%= f.select :category_id, @category %>
</div>


<div class="field">
 <%= f.label :tag %>
  <%= f.text_field :name, @tag %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<% end %>