<p id="notice"><%= notice %></p>

<h1>Blog Stats</h1>

<p>
  <strong>User with the most comments:</strong>
  <%= @list[0] %> (<%= @list[1] %>)
</p>
<p>
  <strong>Top 5 most used tags:</strong>
  <%= @sorted_tags[0][0] %>, <%= @sorted_tags[1][0] %>, <%= @sorted_tags[2][0] %>, <%= @sorted_tags[3][0] %>, <%= @sorted_tags[4][0] %>
</p>
<p>
  <strong>Longest blog post:</strong> 
  <%= @content[0][0] %>
</p>